drip_irrigation/flows.json
[
    {
        "id": "c33e1df3c5f7b59a",
        "type": "tab",
        "label": "Flow IoT Monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6d3d89a9b207fa9",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 1",
        "topic": "soil/1",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "c2fc09f3a417b46e"
            ]
        ]
    },
    {
        "id": "c2fc09f3a417b46e",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 1",
        "group": "a07f109e.ebc62",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 1",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "0b6dafe3dd1643c4",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 2",
        "topic": "soil/2",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 110,
        "wires": [
            [
                "8b9821a8fdfd9e25"
            ]
        ]
    },
    {
        "id": "8b9821a8fdfd9e25",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 2",
        "group": "a07f109e.ebc62",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 2",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 110,
        "wires": []
    },
    {
        "id": "65b2b3c8be8a2847",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 3",
        "topic": "soil/3",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 160,
        "wires": [
            [
                "738670f359bf88ff"
            ]
        ]
    },
    {
        "id": "738670f359bf88ff",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil 3",
        "group": "a07f109e.ebc62",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 3",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "ff612250e6e6cd95",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 1",
        "topic": "temp/1",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "e017d8585d4d005f"
            ]
        ]
    },
    {
        "id": "e017d8585d4d005f",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 1",
        "group": "1f00a432.e47e3c",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 1",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd3bc3cfece4032f",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 2",
        "topic": "temp/2",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 120,
        "wires": [
            [
                "c31d4d3f7c6e6606"
            ]
        ]
    },
    {
        "id": "c31d4d3f7c6e6606",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 2",
        "group": "1f00a432.e47e3c",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 2",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "caeb207c07ac7aa1",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 3",
        "topic": "temp/3",
        "qos": "1",
        "datatype": "auto",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "661b72a0c8b509b4"
            ]
        ]
    },
    {
        "id": "661b72a0c8b509b4",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp 3",
        "group": "1f00a432.e47e3c",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Sensor 3",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "a173268e7d0ea479",
        "type": "ui_switch",
        "z": "c33e1df3c5f7b59a",
        "name": "Manual Pump",
        "label": "Manual Pump (ON/OFF)",
        "tooltip": "",
        "group": "73bd56e70321716e",
        "order": 3,
        "width": 7,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "pump/control",
        "topicType": "str",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 860,
        "y": 60,
        "wires": [
            [
                "ee61a71d3fe050c7"
            ]
        ]
    },
    {
        "id": "ee61a71d3fe050c7",
        "type": "mqtt out",
        "z": "c33e1df3c5f7b59a",
        "name": "Manual Pump",
        "topic": "pump/control",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "637aabbc.50c0e4",
        "x": 1080,
        "y": 60,
        "wires": []
    },
    {
        "id": "f8ea9bee56c85365",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil Avg",
        "topic": "soil/avg",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "836b9dd7d21b193c"
            ]
        ]
    },
    {
        "id": "836b9dd7d21b193c",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Soil Avg",
        "group": "6d2004ee9fe24965",
        "order": 1,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "SOIL MOISTURE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b5ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "06766abcc5f8d878",
        "type": "ui_gauge",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp Avg",
        "group": "6d2004ee9fe24965",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#89d5d2",
            "#35b2ac",
            "#008080"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "c945687bbbaffd29",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Temp Avg",
        "topic": "temp/avg",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "06766abcc5f8d878"
            ]
        ]
    },
    {
        "id": "5efe6ed70453bf33",
        "type": "ui_switch",
        "z": "c33e1df3c5f7b59a",
        "name": "Pump Mode",
        "label": "Pump Mode (AUTO/MANUAL)",
        "tooltip": "",
        "group": "73bd56e70321716e",
        "order": 2,
        "width": 7,
        "height": 3,
        "passthru": true,
        "decouple": "false",
        "topic": "pump/mode",
        "topicType": "msg",
        "style": "",
        "onvalue": "AUTO",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "MANUAL",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 140,
        "wires": [
            [
                "022e819716f06963"
            ]
        ]
    },
    {
        "id": "022e819716f06963",
        "type": "mqtt out",
        "z": "c33e1df3c5f7b59a",
        "name": "Pump Mode",
        "topic": "pump/mode",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "637aabbc.50c0e4",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "c19f23938e64a824",
        "type": "ui_text",
        "z": "c33e1df3c5f7b59a",
        "group": "3e68922a556af38d",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "Pump Status",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#89d5d2",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "83efe3eb3dd740d4",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Pump Status",
        "topic": "pump/mode/status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "c19f23938e64a824"
            ]
        ]
    },
    {
        "id": "27174089a0a0e1f8",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Pump Status",
        "topic": "pump/mode/status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "2e7a2806f87284df"
            ]
        ]
    },
    {
        "id": "2e7a2806f87284df",
        "type": "ui_text",
        "z": "c33e1df3c5f7b59a",
        "group": "73bd56e70321716e",
        "order": 1,
        "width": 7,
        "height": 2,
        "name": "Pump Status",
        "label": "Pump Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#89d5d2",
        "x": 1090,
        "y": 200,
        "wires": []
    },
    {
        "id": "e76b29c8af0a6b57",
        "type": "mqtt in",
        "z": "c33e1df3c5f7b59a",
        "name": "Pump Status",
        "topic": "pump/control/status",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "637aabbc.50c0e4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 340,
        "wires": [
            [
                "780c9a431b22ae24"
            ]
        ]
    },
    {
        "id": "780c9a431b22ae24",
        "type": "ui_text",
        "z": "c33e1df3c5f7b59a",
        "group": "3e68922a556af38d",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "Pump Status",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "16",
        "color": "#89d5d2",
        "x": 310,
        "y": 340,
        "wires": []
    },
    {
        "id": "637aabbc.50c0e4",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a07f109e.ebc62",
        "type": "ui_group",
        "name": "Soil Moisture Sensors",
        "tab": "99435343a8611d4e",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": true,
        "className": ""
    },
    {
        "id": "1f00a432.e47e3c",
        "type": "ui_group",
        "name": "Temperature Sensors",
        "tab": "99435343a8611d4e",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": true,
        "className": ""
    },
    {
        "id": "73bd56e70321716e",
        "type": "ui_group",
        "name": "Relay",
        "tab": "933981d4f62d8668",
        "order": 3,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d2004ee9fe24965",
        "type": "ui_group",
        "name": "Average Value",
        "tab": "ccb0832a012c69ee",
        "order": 2,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3e68922a556af38d",
        "type": "ui_group",
        "name": "Water Pump Status",
        "tab": "ccb0832a012c69ee",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": true,
        "className": ""
    },
    {
        "id": "99435343a8611d4e",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "933981d4f62d8668",
        "type": "ui_tab",
        "name": "Control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccb0832a012c69ee",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]